 
      .about-us,
      .stats,
      .content {
        display: flex;
      }
  .content .about-img{
      display: flex
      ;
      justify-content: center;
      align-items: center;
 }

      #blackstrip {
        margin-bottom: 0;
      }
      #about {
        background-color: whitesmoke;
        
      
      }
      .about-us {
        background-color: white;
       
        
      }
      .description {
        /* width: 80%; */
      }

      .outer-circle {
        background-color: red;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .inner-circle {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: white !important;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.7rem;
        font-weight: bold;
      }

      .stats {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
        
      }

      .outer-circle{
          margin-bottom: 60px;
      }

      @media (max-width: 576px) {

          #about{
              padding: 10px 10px ;
        }
.about-us,.content{
    flex-direction: column;
}
 .about-us{
       
    padding: 30px 20px;
   }

.vertical-line{
    display:none
}

  
 .stats{
     flex-direction: column;
     
     align-items: center;
 }
 

      }

      @media (min-width: 577px) and (max-width: 768px) {
   
   
  #about{
              padding: 40px 20px ;
        }

    
    .about-us{
       flex-direction: column;
    padding: 30px 20px;
   }
 
.content{
    flex-direction: column;
     
}
  
 .stats{
     flex-direction: column;
     
     align-items: center;
 }
   
   .vertical-line{
    display:none
}

 
    .outer-circle{
          margin-right: 20px;
      }
   
    }

      @media (min-width: 767px) and (max-width: 992px) {
    
     #about{
              padding: 40px 20px ;
        }
    .about-us{
       flex-direction: column;
    padding: 30px 20px;
   }
 
.content{
    flex-direction: column;
      
}
 
   .stats,.description{
       margin: 0 auto;
        
   }
   .vertical-line{
    display:none
}

.stats{
    flex-direction: row;
    
    
}
    .outer-circle{
          margin-right: 20px;
      }
    
    
    
    }

      @media (min-width: 992px) and (max-width: 1200px) {
   
        #about{
              padding: 60px 30px ;
        }
   .about-us{
       flex-direction: column;
    padding: 60px 50px;
   }

   .stats,.description{
       margin: 0 auto;
        
   }
   .vertical-line{
    display:none
}

.stats{
    flex-direction: row;
    
    
}
    .outer-circle{
          margin-right: 20px;
      }

    }

      @media (min-width: 1201px) and (max-width: 2560px) {
  

        #about{
              padding: 80px 100px ;
        }
  .about-us{
      padding: 50px 30px;
  }
  .content{
      padding-left: 0;
      padding-right: 10px;
  }
          
  
    }
  