/* add social icons and move to top button */

* {
  padding: 0;
  margin: 0;
  /* overflow-x:hidden ; */
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/* Go to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: rgb(30, 35, 37);
  /* color: white; */
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.navbar-brand {
  margin-right: 10rem;
}

.nav-item {
  margin-right: 20px;
  font-weight: bold;
  color: black !important;
}

/* Before hamburger menu starts appearing */

.carousel-item img {
  height: 200px;
}
#blackstrip {
  background-color: #2e3644;
  color: white;
  padding: 40px 20px;
  margin-bottom: 20px;
}

#blackstrip h3 {
  font-weight: bold;

  font-size: 2.5rem;
  margin-bottom: 10px;
}
#blackstrip p {
  line-height: 2em;
  word-spacing: 5px;
  font-size: 1.5rem;
}
#blackstrip span {
  border: 1px solid #fff1f1;
  border-radius: 3px;
  padding: 3px 1px;
  font-weight: 400;
}

/* benefits */

.red-strip {
  background-color: #d02824;
  height: 80px;
  width: 45%;

  clip-path: polygon(0 1%, 100% 0, 90% 49%, 100% 100%, 0 100%, 0% 50%);

  font-size: 2.8rem;
  color: white;
  padding: 5px 0 5px 50px;
  margin-bottom: 20px;
}

.features {
  display: flex;
  flex-direction: column;
}
.benefit-list ul li {
  color: red;
}

.benefit-list ul li span {
  color: black;
}

.sign-up-form {
  width: 90%;

  padding: 50px 30px;
  margin: 0 auto;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;

  /* padding-right: 60px; */
}

.choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details input {
  border: 1px solid #adaaaa;
  outline: none;
  border-radius: 5px;
  max-width: 300px;
  width: 230px;
  /* margin-left: 10px; */
}
.details div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sign-up-form button {
  padding: 20px 60px 20px 60px;
  margin-top: 20px;
  width: 100%;
}

/* preview */

.preview {
  padding-top: 40px;
}

.preview h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.preview-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.preview-img img {
  height: 600px;
  width: 90%;
  margin-bottom: 10px;
 
}

.download-btn button {
  /* padding: 10px 80px; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.download-btn button span {
  font-weight: bold;
}

.download-btn button i {
  margin-right: 10px;
}

.download-btn a {
  text-decoration: none;
}

#our-merchants {
  /* margin-bottom: -80px; */
  margin-top: 60px;
  margin-bottom: 0;
}

#our-merchants h1 {
  margin-bottom: 30px;
  font-weight: bold;
}

/* footer  */

.footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  color: white;
  flex-wrap: wrap;
  margin-top: -100px;
}
.address {
  flex-basis: 100%;
  padding-bottom: 60px !important;
}
 

.footer a {
  display: block;
  font-weight: 300;
  font-size: 0.9rem;

  color: white;
  text-decoration: none;
  margin: 12px 0;
}
.footer > * {
  margin: 15px 15px;
}

.address {
  flex-basis: 100%;
  margin-left: 140px;
  padding: 20px;
}

.footer-goal {
  flex-basis: 20%;
  flex-grow: 0;
  /* justify-content: start; */
  text-justify: inter-word;
}

 
.social-icons {
 display: flex;
 justify-content: center;
   /* margin-left: 140px !important; */
}
.fa-2x {
  font-size: 2em !important;
  /* margin-right: 30px; */
  margin: 10px 10px;
}

/* Media Queries */
@media (max-width: 576px) {
   
  #blackstrip {
    /* text-align: center; */
    padding: 30px 20px;
  
  }
#blackstrip p{
    line-height:2.4;
}
  #blackstrip p span {
    padding: 10px 10px;
    padding-right: 0px;
  }
#initial-amt, #final-amt{
  width: 125px !important;
}
  .red-strip {
    height: 40px;
    width: 60%;

    clip-path: polygon(0 1%, 100% 0, 90% 49%, 100% 100%, 0 100%, 0% 50%);

    font-size: 1.3rem;
    color: white;
    padding: 5px 10px;
  }

  /* to align preview images */
  .preview-img div {
    text-align: center;
  }
  /* footer */
  .footer {
    flex-direction: column;

    text-align: center;
  }

  .footer > * {
    margin: 15px 0;
  }

    

   

 
}

/* css for blackstrip placeholder */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#initial-amt,#final-amt{
  width: 150px;
  outline: none;
  border: none;
  padding-left:5px;
  padding-right: 5px;
  height: 40px;
  background: transparent;
  
  color: white;
  

}

 

 
 





@media (min-width: 577px) and (max-width: 768px) {
 #blackstrip span {
    padding: 10px 5px;
  }
  


  /* feature list */
  .red-strip {
    height: 40px;
    width: 260px;

    font-size: 1.3rem;
    color: white;
    padding: 5px 0px 5px 10px;
  }
  .features {
    flex-direction: column;
    padding: 10px 30px 10px 30px;
  }

   .preview-img div {
    text-align: center;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .features {
    flex-direction: row;
  }
  #blackstrip span {
    padding: 10px 5px;
  }
  .red-strip {
    height: 40px;
    width: 260px;

    clip-path: polygon(0 1%, 100% 0, 90% 49%, 100% 100%, 0 100%, 0% 50%);

    font-size: 1.3rem;
    color: white;
    padding: 5px 0px 5px 10px;
  }
  /* feature list */
  .features {
    flex-direction: column;
    padding: 10px 30px 10px 30px;
  }

  /* input field width */
  .details input {
    width: 100%;
  }
  .preview-img div {
    text-align: center;
  }

  

 
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* Carousel */
  .carousel-item img {
    height: 400px;
  }

  /* blackstrip */
  #blackstrip {
    padding-left: 60px;
  }

  #blackstrip span {
    padding: 10px 5px;
  }

  /* redstrip */
  .red-strip {
    background-color: #d02824;
    height: 60px;

    width: 350px;

    font-size: 1.8rem;

    padding-left: 20px;

    padding-top: 10px;
    margin-bottom: 40px;
  }

  /* feature list */
  .features {
    flex-direction: row;
    padding: 10px 30px 10px 30px;
  }

  .benefit-list ul li {
    font-size: 1.1rem;
  }

  /* signup form */
  .sign-up-form {
    width: 800px;
    padding: 40px 40px;
    margin-left: 70px;
    margin-top: -60px;
  }
  .details input {
    width: 76%;
  }

  /* download button */
  .download-btn {
    margin-left: 80px;
  }

  .download-btn h1 {
    text-align: left;
    margin-bottom: 10px;
  }
  .download-btn button {
    width: 350px;
    margin-right: 10px;

    padding: 10px 15px 10px;
  }
  .download-btn a {
    display: inline-block;
  }
}

/* for bigger screens */
@media (min-width: 1201px) and (max-width: 2560px) {
  .carousel-item img {
    height: 500px;
  }
  #blackstrip {
    padding: 40px 0px 40px 150px;
    margin-bottom: 40px;
  }

  #blackstrip h3 {
    font-weight: 500;
    margin-bottom: 25px;
  }
  #blackstrip p span {
    /* padding: 10px 10px; */
    /* padding-right: 0px; */
    
  }
  #blackstrip span {
    padding: 12px 10px;
  }
  #initial-amt, #final-amt{
  width: 125px !important;
}

  /* benefits section */
  .red-strip {
    height: 70px;
    width: 540px;

    font-size: 2.6rem;

    padding: 5px 0 5px 50px;
    margin-bottom: 60px;
  }

  .features {
    flex-direction: row;
    padding: 10px 50px 10px 50px;
  }

  .benefit-list ul li {
    font-size: 1.1rem;
  }

  .sign-up-form {
    width: 800px;
    padding: 40px 40px;
    margin-left: 70px;
    margin-top: -60px;
  }

  .details input {
    width: 68%;
  }
  /* preview */
  .preview::before {
    background-size: cover;
  }

  .preview::before {
    content: "";
    background-image: url("../img/discount\ adda\ bg.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    z-index: -1;
    background-position-y: -300px;
  }
  .preview {
    position: relative;
  }

  .preview-img {
    flex-direction: row;

    align-items: flex-start;
  }

  .preview h1 {
    margin-bottom: 50px;
  }

  .preview-img img {
    height: auto;
    width: 90%;

    margin-bottom: 0;
  }

  /* Download button */

  .download-btn {
    margin-left: 80px;
  }

  .download-btn h1 {
    text-align: left;
    margin-bottom: 10px;
  }

  .download-btn button {
    width: 350px;
    margin-right: 10px;

    padding: 10px 15px 10px;
  }

  .download-btn a {
    display: inline-block;
  }
}
